$brown: #313132;
$gray: #565759;
$white: #ffffff;
$error: #ea3d3d;
$cream: #feffff;
$american-pink: #fd8382;
$american-pink-1: #fff5f5;
$american-pink-2: #fee0e0;
$american-pink-3: #ffa5a5;
$blue1: #4d80f3;
$blue2: #165cfa;
$green: #10aa58;

//bg
$borderBottom: rgba(128, 128, 128, 0.671);
$popupBackground: rgba(0, 0, 0, 0.451);

//shadow
$cardBoxShadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
  rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
$placeholderGray: #767474;
$searchBoxShadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
  rgb(209, 213, 219) 0px 0px 0px 1px inset;
$searchBoxShadowHover: rgba(3, 102, 214, 0.3) 0px 0px 0px 2px;
$tableBoxShadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
$filterBoxShadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
  rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
